.country {
    margin-top: 4rem;
    background-color: var(--background);
    span {
        font-weight: 600;
    }
    @media (max-width: 768px) {
        margin-top: 1rem;
    }
    &__backBtn {
        outline: none;
        border: thin solid transparent;
        border-radius: 9px;
        margin-bottom: 3rem;
        background-color: var(--background-additional);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        column-gap: .7rem;
        box-shadow: 2px 2px 10px var(--shadow-box);
        padding: .7rem 3rem;
        cursor: pointer;
        transition: .3s ease;
        &:hover {  
            border-color: var(--border);   
            transition: .3s ease;
        }
        img {
            height: 24px;
        }
        @media (max-width: 768px) {
            margin-top: 1rem;
            margin-bottom: 2rem;
        }
    }
    &__row {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        align-items: center;
        justify-content: center;
        column-gap: 4rem;
        @media (max-width: 768px) {
        grid-template-columns: 1fr;
        row-gap: 2rem;
        }
    }
    &__flag {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            border-radius: 9px;
            @media (max-width: 768px) {
                width: 80%;
            }
        }
    }
}

.info {
    @media (max-width: 515px) {
        padding: 0 0.5rem;
    }
    &__title {
        font-weight: 800;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    &__misc {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 3rem;
        @media (max-width: 515px) {
            grid-template-columns: 1fr;

        }
    }
    &__column {
        display: flex;
        flex-direction: column;
        row-gap: .2rem;
    }
    &__text {
        font-size: 18px;
        letter-spacing: .007rem;
    }
    &__little-spinner {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    &__borders {
        display: flex;
        font-size: 18px;
        justify-content: flex-start;
        column-gap: 1rem;
        flex-wrap: nowrap;
        @media (max-width: 515px) {
            margin-bottom: 1rem;
        }
    }
    &__links {
        display: flex;
        column-gap: .7rem;
        font-size: 16px;
        flex-wrap: wrap;
    }
    &__border {
        border-radius: 9px;
        border: thin solid transparent;
        box-shadow: 2px 2px 10px var(--shadow-box);
        padding: .3rem 1rem;
        margin-bottom: .7rem;
        // cursor: pointer;
        transition: .3s ease;
        &:hover {  
            border-color: var(--border);   
            transition: .3s ease;
        }
    }
}