.footer {
    background-color: var(--background-darker);
    padding: 1rem;
    box-shadow: 0 3px 7px var(--shadow-box);
    @media (max-width: 768px) {
        height: 2rem;
        padding: 0.5rem;
        font-size: 0.9rem;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        color: var(--accent);
        transition: .3s ease;
        border-bottom: thin solid transparent;
        &:hover {
            border-bottom: thin solid var(--accent);
            transition: .3s ease;
        }
    }
}