.footer {
    background-color: var(--background-darker);
    // background-color: var(--background-additional);
    padding: 1rem;
    box-shadow: 0 3px 7px var(--shadow-box);
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        color: var(--accent);
        transition: .3s ease;
        border-bottom: thin solid transparent;
        &:hover {
            border-bottom: thin solid var(--accent);
            transition: .3s ease;
        }
    }
}