.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    row-gap: 1rem;
    background-color: var(--background);
    &__emoji {
        font-size: 62px;
    }
    &__text {
        font-size: 24px;
    }
    & a {
        font-size: 18px;
        transition: .5s ease;
        text-align: center;
        &:hover {
            color: var(--accent);
            transition: .5s ease;
        }
        & p:first-child {
            margin-bottom: 1rem;
        }
        & p:last-child {
            font-size: 38px;
        }
    }
}