.pagination {
    box-shadow: 2px 2px 15px $shadow-box;
    transition: .4s ease;
    border: thin solid transparent;
    border-radius: 9px;
    background-color: $background-additional;
    @media (max-width: 1065px) {
        margin-bottom: 1rem;
    }
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        @media (max-width: 1065px) {
            
        }


    }
    &__item {

        &.active {

        }
    }
    
    &__link {
        color: $text-shaded;
        cursor: pointer;
        padding: .6rem;
        transition: .7s ease;
        border: thin solid transparent;
        &-dots {
            cursor:not-allowed;
        }
        &:hover {
            color: $text;
            transition: .3s ease;
            text-shadow: 0 0 5px $shadow-box;
        }
        &.active {
            cursor: not-allowed;
            color: $text;
            border: thin solid $accent;
            color: $background-additional;
            background-color: $accent;
            border-radius: 20%;
            text-shadow: 0 0 5px $shadow-box;
        }
        @media (max-width: 1065px) {
            padding: 1rem;
        }
    }
}