.pagination {
    box-shadow: 2px 2px 15px var(--shadow-box);
    transition: .4s ease;
    border: thin solid transparent;
    border-radius: 9px;
    background-color: var(--background-additional);
    padding: 0.2rem;
    @media (max-width: 1065px) {
        margin-bottom: 1rem;
    }
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        @media (max-width: 1065px) {
            
        }


    }
    &__item {

        &.active {

        }
    }
    
    &__link {
        color: var(--text-shaded);
        cursor: pointer;
        padding: .4rem;
        transition: .5s ease;
        border: thin solid transparent;
        &-dots {
            cursor:not-allowed;
        }
        &:hover {
            color: var(--text);
            transition: .3s ease;
            text-shadow: 0 0 5px var(--shadow-box);
        }
        &.active {
            cursor: not-allowed;
            color: var(--text);
            border: thin solid var(--accent);
            color: var(--background-additional);
            background-color: var(--accent);
            border-radius: 20%;
            text-shadow: 0 0 5px var(--shadow-box);
        }
        @media (max-width: 1065px) {
            padding: 1rem;
        }
    }
}