.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.countries {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // align-items: center;
    // justify-items: stretch;  
    gap: 2rem;
    padding: 2rem 0;
    @media (max-width: 1230px) {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 4rem;
    }
    @media (max-width: 998px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 670px) {
        display: flex;
        flex-direction: column;
    }
}

.search-filter {
    padding-top: 3rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}