button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;
    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.countries {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 2rem 0;
    @media (max-width: 1230px) {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 4rem;
    }
    @media (max-width: 998px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 670px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.search-filter {
    margin-top: 3rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1065px) {
        margin-top: 2rem;
        flex-direction: column;
        row-gap: 1.2rem;
        .filter {
            order: 2;
        }
        .pagination {
            order: 3;
        }
    }
}

.loader {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    &__wrapper {

    }
}