// $dark-blue: hsl(209, 23%, 22%); // dark mode elements
// $very-dark-blue: hsl(207, 26%, 17%); // dark mode background

// $even-darker-blue: hsl(200, 15%, 8%); // light mode text
// $dark-gray: hsl(0, 0%, 52%); // light mode input
// $light-gray: hsl(0, 0%, 98%); // light mode background

// $white: hsl(0, 0%, 100%); // dark mode text and light mode elements

// $grayish: rgba(119, 119, 119, 0.3);

// light mode
$text: hsl(200, 15%, 8%); // even-darker-blue
$text-shaded: hsl(0, 0%, 60%); 
$background: hsl(0, 0%, 98%); // light-gray
$background-additional: hsl(0, 0%, 100%); // white
$shadow-box: hsl(0, 0%, 80%);
$border: hsl(0, 0%, 55%);
$accent: hsl(176, 42%, 33%);