$dark-blue: hsl(209, 23%, 22%); // dark mode elements
$very-dark-blue: hsl(207, 26%, 17%); // dark mode background

$even-darker-blue: hsl(200, 15%, 8%); // light mode text
$dark-gray: hsl(0, 0%, 52%); // light mode input
$light-gray: hsl(0, 0%, 98%); // light mode background

$white: hsl(0, 0%, 100%); // dark mode text and light mode elements