@import './variables';
@import "./libs/normalize";
@import './layout';
@import './components/all';

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: var(--text);
    background-color: var(--background);
    overflow-x: hidden;
}


// Scrollbar styling

::-webkit-scrollbar {
    width: 0.60rem;
    background-color: var(--background-additional);

}

::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 86%);
    border-radius: .5rem;
    cursor: pointer;
    transition: .3 ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 77%);
    transition: .3 ease;

}