@import './variables';
@import "./libs/normalize";
@import './layout';
@import './components/all';

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    color: $even-darker-blue;
    background-color: $light-gray;
    font-size: 16px;
}

// Scrollbar styling

::-webkit-scrollbar {
    width: 0.60rem;
    background-color: $white;

}

::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 86%);
    border-radius: .5rem;
    cursor: pointer;
    transition: .3 ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 77%);
    transition: .3 ease;

}